<section class="section">
  <div class="container container-relative">
    <h2 class="title sec-12__title">
      Отзывы людей, которым уже помог <span class="twenty-flex">20FLEX+</span>
    </h2>
    <div class="slick__arrows">
      <button class="new-slick-button slick-prevb">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19">
          <path
            class="svg-path"
            d="M 0.367188 10.300781 L 8.46875 18.5 C 8.703125 18.738281 9.027344 18.875 9.363281 18.875 C 9.699219 18.875 10.023438 18.738281 10.257812 18.5 C 10.753906 18 10.753906 17.199219 10.257812 16.699219 L 4.320312 10.699219 L 18.613281 10.699219 C 19.320312 10.683594 19.882812 10.105469 19.878906 9.398438 C 19.875 9.070312 19.738281 8.757812 19.5 8.53125 C 19.261719 8.304688 18.941406 8.183594 18.613281 8.199219 L 4.316406 8.199219 L 10.253906 2.199219 C 10.75 1.703125 10.75 0.898438 10.253906 0.398438 C 10.027344 0.144531 9.699219 0 9.359375 0 C 9.019531 0 8.691406 0.144531 8.464844 0.398438 L 0.363281 8.5 C -0.128906 9 -0.125 9.804688 0.367188 10.300781 Z M 0.367188 10.300781 "
          />
        </svg>
      </button>
      <button class="new-slick-button slick-nextb">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19">
          <path
            class="svg-path"
            d="M 19.511719 10.300781 L 11.410156 18.5 C 11.175781 18.738281 10.851562 18.875 10.515625 18.875 C 10.179688 18.875 9.855469 18.738281 9.621094 18.5 C 9.128906 18 9.128906 17.199219 9.621094 16.699219 L 15.558594 10.699219 L 1.269531 10.699219 C 0.5625 10.683594 0 10.105469 0 9.398438 C 0.00390625 9.070312 0.140625 8.757812 0.378906 8.53125 C 0.621094 8.304688 0.941406 8.183594 1.269531 8.199219 L 15.558594 8.199219 L 9.621094 2.199219 C 9.128906 1.699219 9.128906 0.898438 9.621094 0.398438 C 9.847656 0.144531 10.171875 0 10.515625 0 C 10.855469 0 11.183594 0.144531 11.410156 0.398438 L 19.511719 8.5 C 20 9 20 9.800781 19.511719 10.300781 Z M 19.511719 10.300781 "
          />
        </svg>
      </button>
    </div>
    <div class="sec-12__slider slider">
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_1.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Елена Сеченик,</span>
              <span class="sec-12__review-age">62 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex-accent">
            Прошла курс геля 20Флекс
          </p>
          <div class="sec-12__result-title">
            Прошла профессиональная болезнь
          </div>
          <div class="sec-12__text">
            За печатной машинкой я провела всю юность, за клавиатурой компьютера
            - еще 25 лет. Конечно, суставы поистерлись. Боли в кистях рук были
            ужасные, руки сводило, пальцы - как деревянные были. Мази с
            капсаицином мне помогали, но только на 3-4 часа. А эта мазь же
            наоборот, хоть боль сразу и не снимает, но зато после полного курса
            пальцы снова сгибаться стали, узелки уменьшились. В общем, деньги не
            зря потрачены.
          </div>
        </div>

        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__slide-head">
          <img src="img/sec12_2.jpg" class="sec-12__slide-image" />
          <div class="sec-12__review-info">
            <span class="sec-12__review-name">Элеонора Зуева,</span>
            <span class="sec-12__review-age">70 лет</span>
          </div>
        </div>
        <p class="sec-12__result twenty-flex">
          Прошла курс таблеток 20 Флекс и 20Флекс+
        </p>
        <div class="sec-12__result-title">Прошли постоянные боли</div>
        <div class="sec-12__text">
          Здравствуйте! Хочу поблагодарить Вас за прекрасное лечение. Гель и
          таблетки, которыю мне привезли прямо на почту, я использовала месяц,
          как и рекомендовал мне консультант по телефону. Очень понравилось то,
          что эти таблетки и гель с каждым днем работают все быстрее. В
          результате лечения у меня прошли постоянные боли в кистях и ногах.
        </div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_3.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Андрей Юрьевич,</span>
              <span class="sec-12__review-age">74 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">Прошлел курс геля 20Флекс+</p>
          <div class="sec-12__result-title">
            Через неделю руки перестали болеть вообще
          </div>
          <div class="sec-12__text">
            40 лет я водил автобус, и руки очень сильно болят. Боль начиналась в
            локтях и в кисть уходила. Иногда так болели руки, что обезболивающие
            целый день пил. А это ж здоровья не прибавляет. К врачам ходил, так
            они ничего не могут сделать. Сказали, возрастное. 20 Флекс Плюс мне
            нашел внук. Я его на рыбалку отвезти обещал, но не смог - руки
            болели. Он ко мне зашел и сказал: “Дед, больше руки у тебя болеть не
            будут”. Принес мне значит эти таблетки, ну и стал я лечиться.
            Заметил, что они лучше обезболивающих моих работают. Через неделю
            уже спокойно мог руками двигать и повез внука учиться рыбу ловить.
          </div>
        </div>

        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__slide-head">
          <img src="img/sec12_4.jpg" class="sec-12__slide-image" />
          <div class="sec-12__review-info">
            <span class="sec-12__review-name">Людмила,</span>
            <span class="sec-12__review-age">46 лет</span>
          </div>
        </div>
        <p class="sec-12__result twenty-flex-accent">
          Прошла курс геля 20Флекс
        </p>
        <div class="sec-12__result-title">Боль в колене утихла</div>
        <div class="sec-12__text">
          Хромать - это некрасиво, а не только больно. Не с тростью же ходить в
          46 лет! Очень рада, что мне попался гельчик
          <span class="accent">20 Flex</span>, а то я себя уже инвалидом
          чувствовала. Сейчас боль утихла, могу смело опираться на ногу.
          Сгибается колено тоже уже хорошо.
        </div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__slide-head">
          <img src="img/sec12_5.jpg" class="sec-12__slide-image" />
          <div class="sec-12__review-info">
            <span class="sec-12__review-name">Татьяна Воронец,</span>
            <span class="sec-12__review-age">34 года</span>
          </div>
        </div>
        <p class="sec-12__result twenty-flex">Прошла курс таблеток 20Флекс+</p>
        <div class="sec-12__result-title">Новые капсулы помогли</div>
        <div class="sec-12__text">
          Доброго времени суток )) У меня артроз с 2010-го года был. Я уже с ним
          стала разбираться в таблетках лучше, чем врачи! Я уже все, что на
          прилавках аптек есть, мазала и пила. Решила еще
          <span class="accent-dark">20Flex+</span> попробовать. Что-то
          новенькое, таких таблеток я раньше не встречала. И вы знаете, пока они
          мне помогли лучше всего. Почти никакой боли после курса. Очень
          надеюсь, что так и продолжится!
        </div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__slide-head">
          <img src="img/sec12_6.jpg" class="sec-12__slide-image" />
          <div class="sec-12__review-info">
            <span class="sec-12__review-name">Олег Павичев,</span>
            <span class="sec-12__review-age">55 лет</span>
          </div>
        </div>
        <p class="sec-12__result twenty-flex-accent">
          Прошлел курс геля 20Флекс
        </p>
        <div class="sec-12__result-title">
          Колени не болят и хорошо сгибаются
        </div>
        <div class="sec-12__text">
          Я свои колени чем только ни лечил! Я делал даже ударно-волновые
          процедуры, а они же такие дорогие и такие болезненные! Так после них
          ну месяца на два стало лучше, до первого похода из магазина с тяжелыми
          пакетами. А потом я гелем в капсулках начал колени мазать, так уже
          через 2 недели стало лучше, чем после 10 тех болезненных процедур, и я
          могу нормально ходить.
        </div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_7.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Антон,</span>
              <span class="sec-12__review-age">30 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">Прошел курс геля 20Флекс+</p>
          <div class="sec-12__result-title">Полностью восстановил коленку</div>
          <div class="sec-12__text">
            Я на лыжах не мог стоять 2 недели, потому что колено не держало.
            Вывих был, но его вправили. А колено слабым осталось. А у меня лыжи
            - вся моя жизнь. Я тогда очень испугался, искал естественно хороших
            врачей. Друг футболист отправил меня к своему ортопеду, который мне
            сказал 20Флекс+ пить. И всего месяц. Я удивился тогда, что мало
            времени пить, остальные таблетки по полгода нужно. Но уже через
            неделю понял, чо за месяц все точно восстановится, потому что сразу
            стало лучше. И сгибать колено смог полностью, и без боли это
            просходило.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_8.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Анна Евгеньева,</span>
              <span class="sec-12__review-age">32 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошла курс таблеток 20Флекс+
          </p>
          <div class="sec-12__result-title">
            Отличный против спортивных травм
          </div>
          <div class="sec-12__text">
            Профессионально занималась спортом. У нас такие нагрузки были, что
            суставы очень страдают: уже лет десять, как с больными плечами
            мучаюсь. :(Спортивный врач наш прописал мне мазь разогревающую, но
            она только временно помогала. Подруга была на соревнованиях в США,
            получила травму и ей там выписали этот 20Флекс+. Она привезла сюда и
            дала мне попробовать. Мне помог, за две недели ощутила, как боль
            стала проходить и подвижность суставов возвращаться :)))). Советую.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_9.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Дмитрий А.,</span>
              <span class="sec-12__review-age">62 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошел курс 20Флекс и 20Флекс+
          </p>
          <div class="sec-12__result-title">
            Не прямо как в молодости, конечно, но пальцы сгибаются
          </div>
          <div class="sec-12__text">
            Когда мне стукнуло 60 лет, все стало ломить, суставы распухали,
            болели руки. Лечился, как принято, примочки ставил всякие,
            компрессы, пчелиные укусы пробовал. Таблетки и наружное 20 Флекс мне
            сосед порекомендовал. Он подсмотрел, как я дверь открываю - ключи
            постоянно выпадали. Ну и рассказал мне, что есть средство новое,
            специально для суставов. Ну, я ему денег дал и попросил купить мне.
            Помогло, раньше я еле-еле что-то делать мог, а теперь по дому почти
            все, что нужно, делать могу! Суставы, не прямо как в молодости,
            конечно, но гораздо лучше и сгибаются легко.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_10.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Катерина М.,</span>
              <span class="sec-12__review-age">41 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошла курс 20Флекс и 20Флекс+
          </p>
          <div class="sec-12__result-title">
            За три недели суставы ни разу на погоду не болели
          </div>
          <div class="sec-12__text">
            Сколько себя помню, всегда колени крутило на погоду. Спасалась
            большими порциями парацетамола или ибупрофена. Потом увидела
            передачу, где рассказали, что на обезболивающие можно подсесть, и
            испугалась. 20 флекс мне кума посоветовала, ей врач прописывал. И
            оба этих средства (и таблетки, и гель в капсулах) мне очень и очень
            помогли! Я уже даже забыла, когда последний раз обезболивающие
            таблетки пила.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_11.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Татьяна В.,</span>
              <span class="sec-12__review-age">46 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошла курс таблеток 20Флекс+
          </p>
          <div class="sec-12__result-title">Суставы больше не беспокоят</div>
          <div class="sec-12__text">
            Мне эти таблеточки купила дочка. Ей надоело, что я постоянно на свои
            суставы жаловалась. То на погоду опухнут и разболеются, то с самого
            утра болят. Мазями пробовали, но у меня аллергия на них началась.
            Кожа краснела и чесалась сильно. Стала я это средство пробовать и не
            понимала, действует оно или нет. А вот когда после курса прошло три
            недели у меня ни разу суставы не болели, окончательно поняла, что
            работает. На радость себе и дочке суставы больше не беспокоят!
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_12.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Владимир В.,</span>
              <span class="sec-12__review-age">54 года</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошел курс 20Флекс и 20Флекс+
          </p>
          <div class="sec-12__result-title">
            Рукам как-то легче. Не болят и не опухают
          </div>
          <div class="sec-12__text">
            Я работаю на стройке. Работа тяжелая, сами понимаете. Когда домой
            приходил на алкоголь налягал, чтобы боль в руках унять. Потом
            подумал, что так и спиться нужно, а у меня только внуки подрастать
            начали. Им здоровый дед нужен. Побегал я по врачам. Один молоденький
            врач рассказал мне про комплекс из таблеток и геля какого-то. Ну я и
            попробовал. Недели три принимал таблетки и гель. Смотрю, а рукам-то
            легче стало, отеки бесконечные прошли, боли. Я про эти лекарства
            потом всей нашей бригаде рассказал. Могу посоветовать, проверил на
            себе, все работает.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_13.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Анна Борисова,</span>
              <span class="sec-12__review-age">26 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex-accent">
            Прошла курс геля 20Флекс
          </p>
          <div class="sec-12__result-title">Снова могу играть в бадминтон</div>
          <div class="sec-12__text">
            Я профессионально занимаюсь бадминтоном, и так заработала себе
            травму локтя. Сустав и щелкал и болел, опухал часто. Мне советовали
            есть имбирь, типа, он полезен для суставов, но мне вообще не помог.
            Думаю, что у меня просто были слишком большие нагрузки. Увидела
            рекламу 20 флекс и решила попробовать. Все-таки новые технологии,
            лучшие в мире. Помогло! Локоть не беспокоит, не щелкает и я снова
            могу играть в бадминтон. Хорошее средство.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_14.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Дмитрий Толстых,</span>
              <span class="sec-12__review-age">57 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошел курс 20Флекс и 20Флекс+
          </p>
          <div class="sec-12__result-title">Перестал тростью пользоваться</div>
          <div class="sec-12__text">
            На погоду постоянно кости ломило. Лечился мазями и примочками. К
            врачу я пошел, когда утром еле с постели встал. Тот и посоветовал
            мне комплекс из двух лекарств - внешнего и внутреннего. Сказал, что
            это комплекс, но мне можно только таблетки, гель брать не
            обязательно. Но я внука попросил и таблетки и гель заказать.
            Подумал, что так быстрее суставы пройдут. По сравнению с другими
            этилекарства стоят недорого. За первую неделю заметил, что колени
            как-то сильнее стали. Мог подняться с дивана без палочки. Болеть
            перестали они. Прошел весь курс. Суставы, как помолодели. Не болят,
            не ноют. И сам чувствую себя как-то здоровым. У кого больные
            суставы, всем советую.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_15.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Катерина П.,</span>
              <span class="sec-12__review-age">34 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex-accent">
            Прошла курс геля 20Флекс
          </p>
          <div class="sec-12__result-title">Снова делаю пробежки</div>
          <div class="sec-12__text">
            Каждое утро делала пробежку в парке. А потом вдруг у меня начала
            болеть стопа. Я ходила к врачам, они вообще ничего не нашли.
            Говорят, что здорова я. Сказала, что бегать больно, а они мне: «ну
            так не бегайте». Специалисты, блин. Подруга мне показала очень
            интересный гель - 20 FLEX. Он не в тюбике, а в маленьких капсулках.
            Одной такой штуки на целую ногу хватает. Я заказала доставку с
            сайта. Стала мазать. Через три недели проверила – стопа в порядке! Я
            так радовалась! Так что советую всем. Это очень интересное новое
            средство.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_16.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Максим Донцев,</span>
              <span class="sec-12__review-age">27 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошел курс таблеток 20Флекс+
          </p>
          <div class="sec-12__result-title">Быстро вылечил кисти рук</div>
          <div class="sec-12__text">
            Работаю в офисе весь, естественно, за компьютером. Месяц назад
            заметил, как у меня кисти стали болеть сильно. Ну понятно, синдром
            какой-то. Руки ж на клавиатуре и мышке весь день. Каждый день пил
            обезболивающие, но заметил, что они как-то стали слабее действовать.
            А покупать сильные обезболивающее тоже не хотелось. Пробовал мази,
            но они как-то тоже не особо спасали меня. Поэтому и решил
            попробовать 20 флекс плюс. После трех недель руки чувствуют себя
            прекрасно, не болят, ничего не хрустит и не защемляется. Могу хоть
            рисовать, хоть на барабане играть. Для офисных работников - отличная
            вещь.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_17.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Валерий Вечерний,</span>
              <span class="sec-12__review-age">55 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex-accent">
            Прошел курс геля 20Флекс
          </p>
          <div class="sec-12__result-title">
            На рыбалку хожу и гири снова поднимаю
          </div>
          <div class="sec-12__text">
            С возрастом плечи болеть стали, видимо, с гирями за все годы
            перестарался. Если погода менялась, так болели, что спать не мог.
            Спасался обезболивающими, но они ж просто маскируют боль, а
            причина-то ее остается. Знакомая одна посоветовала гель. Подарила
            мне несколько тюбиков маленьких этих. Интересные очень, прозрачные
            штучки на одно применение как раз. Я попробовал и заметил, что боль
            стала уходить. Плечевые суставы болеть перестали. Купил себе целую
            упаковку и прошел весь курс. И вылечил суставы так, теперь и на
            рыбалку хожу и гири снова поднимаю. Хорошее средство, не химия
            какая-нибудь.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
      <div class="sec-12__slide">
        <div class="sec-12__overflow">
          <div class="sec-12__slide-head">
            <img src="img/sec12_18.jpg" class="sec-12__slide-image" />
            <div class="sec-12__review-info">
              <span class="sec-12__review-name">Анна Симонова,</span>
              <span class="sec-12__review-age">38 лет</span>
            </div>
          </div>
          <p class="sec-12__result twenty-flex">
            Прошла курс таблеток 20Флекс+
          </p>
          <div class="sec-12__result-title">Чувствую себя молодой</div>
          <div class="sec-12__text">
            Полжизни скрипела и хрустела суставами, а потом они сильно болеть
            стали. Я попробовала пить обезболивающие, думала как-то пройдет, но
            ничего не прошло. Увидела рекламу в метро 20Flex+, забила в
            интернет. Средство натуральное, без побочных эффектов. Ну я и взяла
            себе таблетки, подумала, что если они не помогут, то в добавку
            возьму и гель из этого же комплекса. Таблетки помогли, пропал хруст
            и дискомфорт в пальцах, и больше не болят. Где-то за месяц. Сейчас
            думаю, если бы взяла и гель, то за пару недель все прошло бы.
          </div>
        </div>
        <div class="sec-12-composition-btn">+</div>
      </div>
    </div>

    <div class="sec-12__bottom-title">
      Хотите поделиться своим опытом использования препарата 20Flex+?
    </div>
    <p class="sec-12__bottom-text">
      Вы можете оставить текстовый отзыв с фотографией или видеоотзыв. Каждый
      месяц мы отбираемсамые полезные отзывы и размещаем их на сайте.
    </p>
    <div class="sec-12__bottom-sub-title">
      Помогите другим сделать правильный выбор!
    </div>
    <button type="submit" class="benefis-btn btn sec-12__btn ever-popup-btn">
      <span class="btn__text-3">Поделиться отзывом</span>
    </button>
  </div>
</section>
