<section class="section">
  <div class="container">
    <h2 class="title title-components">
      Отзывы людей, которым уже помог <span class="twenty-flex">20FLEX+</span>
    </h2>
    <div class="sec-12__slider js-sec-12-slider">
      <div class="sec-12__slide">
        <div>
          <img src="img/sec12_1.jpg" class="sec-12__slide-image" />
          <div class="sec-12__review-info">
            <span class="sec-12__review-name"></span> <span class=""></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
