<section class="section sec-13">
  <div class="container">
    <h2 class="title sec-13__title">
      Как использовать <span class="twenty-flex">20FLEX+</span> для достижения
      наилучшего результата
    </h2>
    <div class="sec-13__wrap">
      <div class="sec-13__item">
        <div class="sec-13__image-box">
          <img src="img/sec13_1.png" class="sec-13__image" />
          <img src="img/pills.png" class="sec-13__pills" />
        </div>

        <div class="sec-13__item-title">
          Запейте <span class="bold-accent">1</span> таблетку 100 мл воды
        </div>
      </div>
      <div class="sec-13__item">
        <div class="sec-13__image-box">
          <img src="img/sec13_2.png" class="sec-13__image" />
        </div>
        <div class="sec-13__item-title">
          Повторяйте прием
          <span class="nowrap"><span class="bold-accent">3</span> раза</span> в
          день
        </div>
      </div>
      <div class="sec-13__item">
        <div class="sec-13__image-box">
          <img src="img/sec13_3.png" class="sec-13__image" />
        </div>
        <div class="sec-13__item-title">
          Курс применения — от <span class="bold-accent">30</span> дней
        </div>
      </div>
    </div>
    <div class="sec-13__list-title">
      Для усиления восстановительного эффекта рекомендуется:
    </div>
    <ul class="sec-13__list">
      <li class="sec-13__list-item">
        <span class="sec-13__count">1.</span> Ограничить употребление сладкого и
        соленого
      </li>
      <li class="sec-13__list-item">
        <span class="sec-13__count">2.</span> Держать суставы в тепле, особенно
        в сырую и холодную погоду
      </li>
      <li class="sec-13__list-item">
        <span class="sec-13__count">3.</span> Выполнять упражнения для
        проблемных суставов
      </li>
    </ul>
  </div>
</section>
