<section class="section">
  <div class="container">
    <h2 class="title sec-14__title">
      На <span class="twenty-flex">20FLEX+</span> действует бесплатная доставка
      <span class="nowrap">без предоплаты</span>
    </h2>
    <div class="sec-14__wrap">
      <div class="sec-14__product">
        <img src="img/pack-pills.png" class="sec-14__product-image" />
        <img src="img/pills.png" class="sec-14__pills" />
        <img src="img/sec9__bg.png" class="sec-14__bg" />
      </div>
      <div class="sec-14__info">
        <div class="sec-14__steps">
          <div class="sec-14__step">
            <div>
              <div class="sec-14__step-title">Быстро</div>
              <p class="sec-14__step-text">Вы заполняете форму заказа</p>
            </div>

            <div class="sec-14__step-number">1</div>
          </div>
          <div class="sec-14__step">
            <div>
              <div class="sec-14__step-title">Удобно</div>
              <p class="sec-14__step-text">
                Наш оператор перезванивает<br />
                и согласовывает все детали
              </p>
            </div>

            <div class="sec-14__step-number">2</div>
          </div>
          <div class="sec-14__step">
            <div>
              <div class="sec-14__step-title">Безопасно</div>
              <p class="sec-14__step-text">
                Оплата товара – только после получения. Никаких предоплат
              </p>
            </div>

            <div class="sec-14__step-number">3</div>
          </div>
        </div>
        <form action="/submit" method="post" class="x_order_form sec-14__form">
          <input
            type="text"
            name="name"
            class="form-field sec-14__input"
            required
            autocomplete="name"
            placeholder="Моё имя"
          />
          <input
            type="tel"
            name="phone"
            class="form-field sec-14__input"
            required
            autocomplete="tel"
            placeholder="Мой телефон"
          />
          <button type="submit" class="form__btn btn sec-14__btn">
            <span class="btn__text btn__text-1">Заказать</span>
            <span class="btn__text btn__text-2">со скидкой</span>
          </button>
        </form>
      </div>
    </div>
    <div class="sec-14__bottom-title">
      Если у вас остались вопросы о <span class="twenty-flex">20FLEX+</span>,
    </div>
    <p class="sec-14__bottom-sub-title">
      наш специалист <span class="accent-dark">бесплатно</span> проконсультирует
      вас по телефону
    </p>
  </div>
</section>
