<section class="section">
  <div class="container">
    <h2 class="title title-components">
      Неправильное лечение или его отсутствие
    </h2>
    <p class="subtitle-benefits">
      забирает время, деньги и может окончиться в лучшем случае
      <span class="red-accent medium-weight">операцией</span> , а в худшем –
      <span class="red-accent medium-weight">инвалидностью</span>. Эмоциональное
      состояние больного также оставляет желать лучшего.
    </p>

    <div class="sec-4__slider js-sec-4-slider">
      <div class="sec-4__slide">
        <div class="sec-4__slide-title">Травма сустава</div>
        <img src="img/reason0.jpg" class="sec-4__slide-image" />
        <div class="sec-4__reasons">
          <div class="sec-4__reasons-title">Что произошло с суставом:</div>

          <p class="sec-4__reasons-text">
            <span class="main-black medium-weight">
              Нарушилась целостность<br />
              и функциональность сустава. </span
            ><br />
            Он с трудом разгибается, болит и увеличивается в размерах.
            Наблюдается выраженное воспаление и отечность.
          </p>
        </div>
        <div class="sec-4__senses">
          <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
          <div class="sec-4__senses-title">Что вы чувствуете:</div>
          <p class="sec-4__senses-text">
            Интенсивная боль в момент самой травмы, ноющая и усиливающаяся при
            нагрузках боль. Вы
            <span class="medium-weight main-black">
              становитесь зависимы от обезболивающего</span
            >, проблемой становятся не только занятия спортом, но и бытовые
            работы, поход в магазин. При неправильном лечении после травмы
            состояние сустава быстро ухудшается.
          </p>
        </div>
      </div>
      <div class="sec-4__slide">
        <div class="sec-4__slide-title">Износ сустава</div>
        <img src="img/reason1.jpg" class="sec-4__slide-image" />
        <div class="sec-4__reasons">
          <div class="sec-4__reasons-title">Что произошло с суставом:</div>
          <p class="sec-4__reasons-text">
            При постоянных нагрузках сустав должен был удерживать очень большой
            вес, потому
            <span class="main-black medium-weight">хрящ быстро стерся</span>,
            обнажив кость и нервные окончания. Начались боли, ограничилась
            подвижность сустава.
          </p>
        </div>
        <div class="sec-4__senses">
          <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
          <div class="sec-4__senses-title">Что вы чувствуете:</div>
          <p class="sec-4__senses-text">
            Любое движение сопровождается невыносимой болью. Больной часто
            “подсаживается” на обезболивающие препараты.
            <span class="main-black medium-weight"
              >Вы жалеете, что не начали лечиться раньше или лечились
              неправильно.</span
            >
            Вы начинаете интересоваться информацией о протезировании суставов.
          </p>
        </div>
      </div>
      <div class="sec-4__slide">
        <div class="sec-4__slide-title">Артроз и артрит</div>
        <img src="img/reason2.jpg" class="sec-4__slide-image" />
        <div class="sec-4__reasons">
          <div class="sec-4__reasons-title">Что произошло с суставом:</div>
          <p class="sec-4__reasons-text">
            <span class="medium-weight main-black"
              >При артрозе разрушилась хрящевая прослойка,</span
            >
            появился сухой хруст. Постепенно болезнь передается на все другие
            суставы.
            <span class="medium-weight main-black"
              >При артрите суставы воспалились,</span
            >
            покраснели, хрящ истончился и самостоятельно не восстанавливается.
          </p>
        </div>

        <div class="sec-4__senses">
          <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
          <div class="sec-4__senses-title">Что вы чувствуете:</div>
          <p class="sec-4__senses-text">
            Больному артрозом сложно выполнять работу по дому, каждое колебание
            погоды вызывает страх,
            <span class="medium-weight main-black"
              >боли особенно ощутимы по ночам. Приходится экономить</span
            >
            на еде, чтобы купить себе лекарства, которые
            <span class="medium-weight main-black">не приносят облегчения</span
            >. Организм привыкает к препаратам, они перестают помогать.
            Приходится покупать все более дорогостоящие лекарства.
          </p>
        </div>
      </div>
    </div>
    <p class="sec-4__bottom-title">
      Не дожидайтесь необратимых последствий, или необходимости дорогого
      лечения!
    </p>
    <p class="sec-4__sub-title">
      Болезнь всегда проще лечить на начальной стадии.
    </p>
    <p class="sec-4__action-title">Начните прямо сейчас!</p>
  </div>
</section>
