<section class="section sec-7">
  <div class="container container-relative">
    <div class="sec-7__doctor">
      <img src="img/sec7__doctor.png" class="sec-7__doctor-image" />
    </div>
    <h2 class="title sec-7__title">
      <span class="twenty-flex">20FLEX+</span> – ТОП-1 средство для
      восстановления суставов
    </h2>
    <p class="subtitle-components">
      среди рекомендаций современных врачей и мед. ассоциаций за 2018 год
    </p>

    <div class="sec-7__wrap">
      <div class="sec-7__info">
        <div class="sec-7__quote">
          <img src="img/sec-7__quotes.png" class="sec-7__quotes" />
          <div class="sec-7__name">Харлам Петровский,</div>
          <p class="sec-7__position">
            глава Международной Ортопедической ассоциации, канд. мед. наук
          </p>
          <p class="sec-7__quote-text">
            “<span class="sec-7__accent">20Flex Plus</span> -
            <span class="sec-7__bold"
              >единственный на постсоветском пространстве биологически доступный
              для человеческого организма препарат</span
            >
            с хондроитином и глюкозамином. В нем наконец ученые смогли добиться
            нужного эффекта: частицы настолько мелкие, что легко встраиваются в
            ткань сустава и регенерируют его.”
          </p>
        </div>
        <div class="sec-7__text-block box-scroll">
          <p class="sec-7__paragraph">
            Основные проблемы суставов у спортсменов - травмы, ускоренный износ
            из-за больших нагрузок и просто возрастные изменения.
          </p>
          <p class="sec-7__paragraph">
            <span class="medium">
              Старые хондропротекторы не могут восстановить сильно
              травмированный или изношенный сустав.</span
            >
            Да, хондроитин и глюкозамин в их составе - отличные и действительно
            полезные компоненты. Но! В хондропротекторах старого образца они не
            имеют возможности усваиваться человеческим организмом, потому что
            имеют слишком крупную структуру.
          </p>

          <p class="sec-7__paragraph">
            В США и Европе от хондропротекторов старого образца отказались два
            десятилетия назад. Именно тогда немецкие технологии позволили
            добиться уменьшения частиц хондроитина и глюкозамина до такой
            степени, что они стали биологически доступны человеческому
            организму.
          </p>

          <p class="sec-7__paragraph">
            <span class="medium"
              >Препараты на основе таких новых технологий были доступны только
              профессиональным спортсменам</span
            >
            из-за дорогостоящего процесса производства. Сейчас уже в Европе и
            США ими пользуются повсеместно.
          </p>

          <p class="sec-7__paragraph">
            <span class="medium"
              >На постсоветском пространстве пока есть только один препарат на
              основе этих немецких технологий – 20Flex+.</span
            >
            Хондроитин и глюкозамин с минимально возможным размером частиц легко
            встраиваются в изношенную хрящевую ткань и восстанавливают ее.
          </p>

          <p class="sec-7__paragraph">
            При правильном приеме препарат в 86,4% случаев возвращает суставам
            выносливость и подвижность.
          </p>

          <p class="sec-7__paragraph">
            Если использовать таблетки <span class="medium">20Flex Plus</span> с
            гелем <span class="medium">20Flex</span>, то эффективность
            воздействия на сустав возрастает еще на 60-65%. Это мягкий и
            направленный метод, который уже активно используют в прогрессивных
            странах. У нас тоже с каждым днем о нем тоже узнают все больше
            врачей.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
