<section class="home-fixed">
    <div class="container">
        <p class="home-fixed__text">Внимание! Не превышайте рекомендованную дозу! Максимально концентрированная формула!</p>
    </div>
</section>

<section class="home">
    <div class="container">
        <div class="home-people">
            <img class="home-people__people" src="img/people.png" alt="">
            <img class="home-people__grass" src="img/home-grass.png" alt="">
        </div>
        <div class="header">
            <div class="header-logo">
                <p class="header-logo__title">20Flex+</p>
                <p class="header-logo__text">Таблетки для здоровья суставов</p>
            </div>
            <div class="header-wrap">
                <div class="header-item">
                    <a class="header-item__img" href="#doctor"><img src="img/award.svg" alt=""></a>
                    <a class="header-item__text" href="#doctor"><span>№1 среди рекомендаций<br> врачей за 2018 год</span></a>
                </div>
                <div class="header-item">
                    <a class="header-item__img" href="#review-slider"><img src="img/reviews.svg" alt=""></a>
                    <a class="header-item__text" href="#review-slider"><span>Отзывы<br> покупателей</span></a>
                </div>
            </div>
        </div>
        <div class="home-wrap">
            <div class="home-content">
                <h1 class="home-title">ТОП-1 профессиональное средство для&nbsp;суставов</h1>
                <p class="home-content__slogan">20Flex+ восстанавливает<br> суставы при любой степени артроза&nbsp;и&nbsp;артрита</p>
                <div class="home-list">
                    <div class="home-list__item">
                        <div class="home-list__img"><img src="img/check-mark.svg" alt=""></div>
                        <p class="home-list__text">Снимает боль, улучшает подвижность суставов</p>
                    </div>
                    <div class="home-list__item">
                        <div class="home-list__img"><img src="img/check-mark.svg" alt=""></div>
                        <p class="home-list__text">Восстанавливает после травм и&nbsp;нагрузок</p>
                    </div>
                    <div class="home-list__item">
                        <div class="home-list__img"><img src="img/check-mark.svg" alt=""></div>
                        <p class="home-list__text">Укрепляет сустав, улучшает амортизацию</p>
                    </div>
                </div>
                <p class="home-content__affordable">Профессиональное средство, доступное каждому</p>
            </div>
            <div class="home-product">
                <img src="img/pack-pills.png" alt="">
                <img class="home-product__pills" src="img/pills.png" alt="">
            </div>
            <div class="form-wrapper">
                <div class="form-box">
                    <div class="form-box__header">
                        <h4 class="form-box__title">Успейте купить по&nbsp;промо-цене <br>
                            <span class="colortext-orange smaller">до <span class="date-0">date</span></span>
                        </h4>
                        <div class="price">
                            <div class="price-old">
                                <p class="price__title price__title-old">Старая цена</p>
                                <span class="x_price_previous">9999</span><span class="x_currency">ффф</span>
                            </div>
                            <div class="price-new">
                                <p class="price__title price__title-new">Ваша цена</p>
                                <span class="x_price_current">999</span><span class="x_currency">ффф</span>
                            </div>
                        </div>
                        <p class="lastpack-text">Осталось упаковок
                            со&nbsp;скидкой: <span class="lastpack">15</span>
                        </p>
                    </div>
                    <form action="/submit" method="post" class="x_order_form form">
                        <div class="input-box">
                            <img class="input-img" src="img/user.svg" alt="">
                            <input class="form-field form-name" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name">
                        </div>
                        <div class="input-box">
                            <img class="input-img" src="img/phone.svg" alt="">
                            <input class="form-field form-tel" type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel">
                        </div>
                        <button type="submit" class="form__btn btn">
                            <span class="btn__text btn__text-1">Заказать</span>
                            <span class="btn__text btn__text-2">со скидкой</span>
                        </button>
                        <p class="form-box__star">* при заказе курса</p>
                    </form>
                    <div class="form-box__bottom">
                        <p class="form-box__security"><img src="img/security.svg" alt="">Ваши данные защищены!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>