<section class="section example">
    <div class="container">
        <h2 class="title example-title">Почему болят ваши суставы</h2>
        <div class="example-wrap">
            <p class="example-wrap__title">Что такое заболевания суставов – наглядно</p>
            <div class="example-content">
                <div class="canvas-wrap">
                    <canvas class="canvas-bg"></canvas>
                </div>
                <p class="example-content__text">Физические нагрузки и травмы, инфекционные заболевания,
                    лишний вес и пожилой возраст приводят к изнашиванию суставов — их <span class="another">“старению”</span>. При&nbsp;старении хрящ теряет свою способность восстанавливаться,
                    поэтому его <span class="another">поверхность постепенно стирается.</span>
                </p>
                <p class="example-content__text">Таким образом, хрящ 35 - летнего человека может иметь состояние 60&nbsp;- летнего,
                    что приводит к артрозам, артритам и другим заболеваниям суставов.
                </p>
            </div>
            <div class="example__video">
                <div class="youtube example__video-youtube" id="1jjo4S7-zU8"></div>
            </div>
            <p class="example-conclusion"><span class="example_blue">Откладывать лечение</span> болезней суставов <span class="example_blue">нельзя</span>,<br> ведь с каждым днем будет становиться только&nbsp;хуже</p>
        </div>
    </div>
</section>