<section class="benefits section">
	<div class="container">
		<h2 class="title title-benefits"><span class="twenty-flex">20FLEX+</span> избавит от боли и подарит свободу движений уже за 1 курс применения</h2>
		<p class="subtitle-benefits">благодаря максимально концентрированной формуле, разработанной для восстановления после тяжелых спортивных травм</p>
		<div class="benefits__wrap">
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit1.jpg" alt="постель">
				</div>
				<p class="benefits__descr">Утром вы не чувствуете скованности и&nbsp;легко встаете с постели</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit2.jpg" alt="кухня">
				</div>
				<p class="benefits__descr">В течение дня вы занимаетесь тем,<br> что вам интересно</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit3.jpg" alt="сон">
				</div>
				<p class="benefits__descr">Ночью боль не беспокоит вас</p>
			</div>
		</div>
		<p class="benefits__bottom">Ваши суставы снова служат вам надежной опорой!</p>
		<button type="submit" class="benefis-btn btn">
			<span class="btn__text btn__text-1">Заказать</span>
			<span class="btn__text btn__text-2">со скидкой</span>
		</button>
	</div>
</section>