<section class="section sec-3">
  <div class="container">
    <h2 class="title title-components">
      <span class="twenty-flex">20FLEX+</span> был разработан для
      профессиональных спортсменов,
    </h2>
    <p class="subtitle-components">
      поэтому он эффективен вне зависимости от возраста и причины возникновения
      боли
    </p>
    <div class="sec-3__slider js-sec-3-slider">
      <div class="sec-3__slide">
        <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
        <div class="sec-3__problem">
          <div class="sec-3__problem__title">Проблемы</div>
          <div class="sec-3__problem__age">в 25 - 35 лет</div>
          <ul class="sec-3__problem__list">
            <li class="sec-3__problem__item">
              боль в результате <span class="bold-weight">травм</span>
            </li>
            <li class="sec-3__problem__item">
              боль во время <span class="bold-weight">тренировок</span>
            </li>
            <li class="sec-3__problem__item">
              тяжесть в суставах<br />
              из-за <span class="bold-weight">лишнего веса</span>
            </li>
          </ul>
        </div>
        <div class="sec-3__review">
          <div class="sec-3__reviewer">
            <img src="img/reviewer-1.jpg" class="sec-3__face" />
            <div class="sec-3__about-reviewer">
              <div>
                <span class="sec-3__name">Юлия З.,</span>
                <span class="sec-3__age">28 лет</span>
              </div>
              <div class="sec-3__city">г. Псков</div>
            </div>
          </div>
          <img src="img/quotes.jpg" class="sec-3__quotes" />
          <p class="sec-3__review-text">
            Я не думала, что мне врач запретит заниматься на велотренажере. Я
            думала, это польза, а в моем случае оказался вред.
          </p>
        </div>
        <div class="sec-3__cause">
          <div class="sec-3__cause-title">Причина:</div>
          <p class="sec-3__cause-text">
            Лишний вес, неравномерные нагрузки и травмы, которые привели к
            артрозу
          </p>
        </div>
      </div>
      <div class="sec-3__slide">
        <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
        <div class="sec-3__problem">
          <div class="sec-3__problem__title">Проблемы</div>
          <div class="sec-3__problem__age">в 35 - 55 лет</div>
          <ul class="sec-3__problem__list">
            <li class="sec-3__problem__item">
              боли не только при нагрузке,<br />
              но и <span class="bold-weight">в состоянии покоя</span>
            </li>
            <li class="sec-3__problem__item">
              суставы крутит <span class="bold-weight">на погоду</span>
            </li>
            <li class="sec-3__problem__item">
              ограничение <span class="bold-weight">подвижности</span> суставов
            </li>
          </ul>
        </div>
        <div class="sec-3__review">
          <div class="sec-3__reviewer">
            <img src="img/reviewer-2.jpg" class="sec-3__face" />
            <div class="sec-3__about-reviewer">
              <div>
                <span class="sec-3__name">Антон М.,</span>
                <span class="sec-3__age">41 год</span>
              </div>
              <div class="sec-3__city">г. Москва</div>
            </div>
          </div>
          <img src="img/quotes.jpg" class="sec-3__quotes" />
          <p class="sec-3__review-text">
            Знаете это ноющее чувство в коленях и кистях рук? Иногда даже водить
            машину сложно
          </p>
        </div>
        <div class="sec-3__cause">
          <div class="sec-3__cause-title">Причина:</div>
          <p class="sec-3__cause-text">
            Остеоартроз с запущенными дегенеративно-дистрофическими изменениями
          </p>
        </div>
      </div>
      <div class="sec-3__slide">
        <div class="canvas-wrap"><canvas class="canvas-bg2"></canvas></div>
        <div class="sec-3__problem">
          <div class="sec-3__problem__title">Проблемы</div>
          <div class="sec-3__problem__age">в 55 и более лет</div>
          <ul class="sec-3__problem__list">
            <li class="sec-3__problem__item">
              <span class="bold-weight">регулярные</span> боли<br />
              вне зависимости от нагрузки
            </li>
            <li class="sec-3__problem__item">
              <span class="bold-weight">острая боль</span> при движении
            </li>
            <li class="sec-3__problem__item">
              <span class="bold-weight">обездвиживание</span> суставов
            </li>
          </ul>
        </div>
        <div class="sec-3__review">
          <div class="sec-3__reviewer">
            <img src="img/reviewer-3.jpg" class="sec-3__face" />
            <div class="sec-3__about-reviewer">
              <div>
                <span class="sec-3__name">Нина П.,</span>
                <span class="sec-3__age">57 лет</span>
              </div>
              <div class="sec-3__city">г. Новосибирск</div>
            </div>
          </div>
          <img src="img/quotes.jpg" class="sec-3__quotes" />
          <p class="sec-3__review-text">
            Терпела, пока не смогла ходить без палочки. Жалею, что довела до
            такого.
          </p>
        </div>
        <div class="sec-3__cause">
          <div class="sec-3__cause-title">Причина:</div>
          <p class="sec-3__cause-text">
            Возрастное изнашивание тазобедренных суставов
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
