<section class="components block">
	<div class="container">
		<h2 class="title title-components"><span class="twenty-flex">20FLEX+</span> – единственное профессиональное средство для самых тяжелых случаев,</h2>
		<p class="subtitle-components">которое полностью усваиваются организмом</p>
		<div class="components__wrap">
			<div class="components__row">
				<div class="components__item">
					<div class="components__img components__img-1">
						<img src="img/comp1.png" alt="Хондроитин">
					</div>
					<div class="components__info">
						<p class="components__name">Хондроитин</p>
						<p class="components__descr">укрепляет структуру хряща, сухожилий, связок, обезболивает, снимает воспаление, <span class="components__descr-bold">запускает регенерацию хряща</span>, стимулирует синтез гиалуроновой кислоты</p>
					</div>
				</div>
				<div class="components__item">
					<div class="components__img">
						<img src="img/comp4.png" alt="Экстракт зеленых мидий">
					</div>
					<div class="components__info">
						<p class="components__name">Экстракт зеленых мидий</p>
						<p class="components__descr">улучшает кровообращение в суставе, <span class="components__descr-bold">укрепляет костную и хрящевую ткани</span>, содержит полезные микроэлементы, витамины В2, В2, В6,  В12, РР, D и Е</p>
					</div>
				</div>
			</div>
			<div class="components__row">
				<div class="components__item">
					<div class="components__img components__img-3">
						<img src="img/comp2.png" alt="Глюкозамин">
					</div>
					<div class="components__info">
						<p class="components__name">Глюкозамин</p>
						<p class="components__descr"><span class="components__descr-bold">останавливает старение сустава</span>, восстанавливая его нормальные функции, <span class="components__descr-bold">подавляет боль</span> и воспаления, активизирует процесс регенерации клеток хрящевой ткани</p>
					</div>
				</div>
				<div class="components__item">
					<div class="components__img components__img-4">
						<img src="img/comp5.png" alt="Метилсульфонилметан">
					</div>
					<div class="components__info">
						<p class="components__name">Метилсульфонилметан</p>
						<p class="components__descr"><span class="components__descr-bold">обновляет клетки</span>, проводя питательные вещества через мембраны, <span class="components__descr-bold">снимает воспаления</span>, усиливает действие хондроитина и глюкозамина</p>
					</div>
				</div>
			</div>
			<div class="components__row">
				<div class="components__item">
					<div class="components__img components__img-5">
						<img src="img/comp3.png" alt="Гиалуроновая кислота">
					</div>
					<div class="components__info">
						<p class="components__name">Гиалуроновая кислота</p>
						<p class="components__descr"><span class="components__descr-bold">улучшает подвижность сустава</span> даже<br> при сильных разрушениях, устраняет болевые ощущения, повышает упругость и&nbsp;амортизацию хряща</p>
					</div>
				</div>
				<div class="components__item">
					<div class="components__img">
						<img src="img/comp6.png" alt="Экстракт смолы босвеллии пильчатой">
					</div>
					<div class="components__info">
						<p class="components__name">Экстракт смолы босвеллии пильчатой</p>
						<p class="components__descr"><span class="components__descr-bold">быстро снимает боль и отеки суставов</span>, защищает хрящевые ткани от различных воспалений, улучшает усвоение<br> питательных элементов хрящами сустава</p>
					</div>
				</div>
			</div>
		</div>
		<p class="components__bottom">Тщательно подобранные элементы делают <span class="twenty-flex">20FLEX+</span><br> самым эффективным средством, которое восстанавливает, питает и защищает суставы.</p>
	</div>
</section>