<section class="section course">
    <div class="container">
        <h2 class="title course-title"><span class="font_medium colortext_blue">20FLEX+</span> запускает усиленную регенерацию суставов с&nbsp;первого дня применения
            <span class="course-title__smaller">и закрепляет результат в течение курса</span>
        </h2>
        <div class="course-wrap">
            <div class="course-graph">
                <img src="img/course-graph.png" alt="">
            </div>
            <div class="course-item course-item1">
                <div class="course-mark course-mark1">
                    <div class="course-mark__main course-mark__main1">
                        <div class="img">
                            <!--<img src="img/course-mark1.svg" alt="">-->
                        </div>
                        <span class="text"><span class="text_biger">1</span><br> неделя</span>
                    </div>
                    <span class="course-mark__circle"></span>
                </div>
                <p class="course-item__text">В хряще стартуют процессы <span class="another">регенерации.</span><br> Восстанавливается выработка синовиальной жидкости -<br> “смазки” сустава.
                    Боли после травм и разрушения суставов больше <span class="another">не мешают уснуть.</span>
                </p>
            </div>
            <div class="course-item course-item2">
                <div class="course-mark course-mark2">
                    <div class="course-mark__main course-mark__main2">
                        <div class="img">
                            <!--<img src="img/course-mark2.svg" alt="">-->
                        </div>
                        <span class="text"><span class="text_biger">2</span><br> неделя</span>
                    </div>
                    <span class="course-mark__circle"></span>
                </div>
                <p class="course-item__text">Хрящ <span class="another">восстанавливается,</span> прикрывая нервные окончания, которые причиняли боль.<br>
                    Сустав перестает быть метеозависимым. <span class="another">Проходит ломота и боль</span> при нагрузках.
                </p>
            </div>
            <div class="course-item course-item3">
                <div class="course-mark course-mark3">
                    <div class="course-mark__main course-mark__main3">
                        <div class="img">
                            <!--<img src="img/course-mark3.svg" alt="">-->
                        </div>
                        <span class="text"><span class="text_biger">3</span><br> неделя</span>
                    </div>
                    <span class="course-mark__circle"></span>
                </div>
                <p class="course-item__text">Хрящ становится плотным
                    и&nbsp;упругим, <span class="another">улучшается амортизация.</span> Сустав снова <span class="another">подвижен</span> и послушен.
                </p>
            </div>
            <div class="course-item course-item4">
                <div class="course-mark course-mark4">
                    <div class="course-mark__main course-mark__main4">
                        <div class="img">
                            <!--<img src="img/course-mark4.svg" alt="">-->
                        </div>
                        <span class="text"><span class="text_biger">4</span><br> неделя</span>
                    </div>
                    <span class="course-mark__circle"></span>
                </div>
                <p class="course-item__text"><span class="another">Регенерация</span> суставного хряща завершается, выработка синовиальной жидкости налаживается.
                    Сустав снова <span class="another">можно нагружать.</span>
                </p>
            </div>
        </div>
        <p class="course-conclusion">Восстанавливайтесь по рекомендациям спортивных врачей!</p>
        <button type="submit" class="course-btn btn ever-popup-btn">
            <span class="btn__text btn__text-1">Заказать</span>
            <span class="btn__text btn__text-2">со скидкой</span>
        </button>
    </div>
</section>