<section class="benefits section" id="benefits">
	<div class="container">
		<h2 class="title title-benefits"><span class="twenty-flex">20FLEX+</span> избавит от боли и подарит свободу движений уже за 1 курс применения</h2>
		<p class="subtitle-benefits">благодаря максимально концентрированной формуле, разработанной для восстановления после тяжелых спортивных травм</p>
		<div class="benefits__wrap">
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit1.jpg" alt="постель">
				</div>
				<p class="benefits__descr">Утром вы не чувствуете скованности и&nbsp;легко встаете с постели</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit2.jpg" alt="кухня">
				</div>
				<p class="benefits__descr">В течение дня вы занимаетесь тем,<br> что вам интересно</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__img">
					<img src="img/benefit3.jpg" alt="сон">
				</div>
				<p class="benefits__descr">Ночью боль не беспокоит вас</p>
			</div>
		</div>
		<p class="benefits__bottom">Ваши суставы снова служат вам надежной опорой!</p>
		<button type="submit" class="benefis-btn btn">
			<span class="btn__text btn__text-1">Заказать</span>
			<span class="btn__text btn__text-2">со скидкой</span>
		</button>


		<div class="arrow-section arrow--white">
			<a href="#benefits">
				<svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"></path>
				</g>
			</g>
		</g>
		</svg>
			</a>

			<svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
		<g>
			<g transform="translate(-1096 -372)">
				<g>
					<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"></path>
				</g>
			</g>
		</g>
		</svg>
		</div>

	</div>
</section>