<section class="section effect-section">
    <div class="container">
        <h2 class="title effect-title"><span class="font_medium colortext_blue">20FLEX+</span> высокоэффективен даже при тяжелых спортивных травмах и болезнях суставов
            <span class="effect-title__smaller">поэтому он в разы превосходит хондропротекторы прошлого поколения и нестероидные противовоспалительные средства (НПВС)</span>
        </h2>
        <div class="effect">
            <div class="effect__fixed">
                <div class="effect__fixed-item"></div>
                <div class="effect__fixed-item">
                    <div class="canvas-wrap">
                        <canvas class="canvas-bg2"></canvas>
                    </div>
                    <p>Заявленное<br> действие</p>
                </div>
                <div class="effect__fixed-item">Длительность<br> лечения</div>
                <div class="effect__fixed-item">
                    <div class="canvas-wrap">
                        <canvas class="canvas-bg2"></canvas>
                    </div>
                    <p>Побочные<br> эффекты</p>
                </div>
                <div class="effect__fixed-item">Процент<br> успешного<br> лечения<br> болезни</div>
            </div>
            <div class="effect__slider">
                <div class="effect__slider-wrapper">
                    <div class="effect__block">
                        <div class="effect__block-item">Нестероидные противовоспалительные средства (НПВС)</div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Заявленное действие</p>
                            <p>Уменьшение воспаления<br> и боли</p>
                        </div>
                        <div class="effect__block-item">
                            <p class="text-mobile">Длительность лечения</p>
                            Применяются годами
                        </div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Побочные эффекты</p>
                            <p>
                                - почечная недостаточность<br>
                                - гипертония, сердце<br>
                                - язва желудка
                            </p>
                        </div>
                        <div class="effect__block-item effect__block-conclusion">
                            <p class="text-mobile">Процент успешного лечения болезни</p>
                            <p class="text">Не являются средством, лечащим суставы</p>
                            <p class="profit">2,1<span>%</span></p>
                            <span class="icon"></span>
                        </div>
                    </div>
                    <div class="effect__block">
                        <div class="effect__block-item">Обычные хондропротекторы</div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Заявленное действие</p>
                            <p>Профилактика и лечение болезней суставов</p>
                        </div>
                        <div class="effect__block-item">
                            <p class="text-mobile">Длительность лечения</p>
                            6 месяцев
                        </div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Побочные эффекты</p>
                            <p>
                                - создают нагрузку для печени<br>
                                - тошнота, боли в желудке<br>
                                - слабость, головокружения
                            </p>
                        </div>
                        <div class="effect__block-item effect__block-conclusion">
                            <p class="text-mobile">Процент успешного лечения болезни</p>
                            <p class="text">Не соответствуют заявленному действию</p>
                            <p class="profit">6,2<span>%</span></p>
                            <span class="icon"></span>
                        </div>
                    </div>
                    <div class="effect__block effect__block-another">
                        <div class="effect__block-item">
                            <div class="effect__block-icon">
                                <img src="img/product-icon.png" alt="">
                            </div>
                            20Flex+
                        </div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Заявленное действие</p>
                            <p>Полное восстановление суставов</p>
                        </div>
                        <div class="effect__block-item">
                            <p class="text-mobile">Длительность лечения</p>
                            30 дней
                        </div>
                        <div class="effect__block-item">
                            <div class="canvas-wrap">
                                <canvas class="canvas-bg2"></canvas>
                            </div>
                            <p class="text-mobile">Побочные эффекты</p>
                            <p>
                                не имеет побочных эффектов, кроме индивидуальной непереносимости
                            </p>
                        </div>
                        <div class="effect__block-item effect__block-conclusion">
                            <p class="text-mobile">Процент успешного лечения болезни</p>
                            <p class="text">Быстро восстанавливает суставы</p>
                            <p class="profit">86,4<span>%</span></p>
                            <span class="icon-another"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="effect-conclusion">
            <div class="effect-conclusion__left">
                <div class="effect-conclusion__product">
                    <img src="img/pack-pills.png" alt="">
                </div>
                <div class="effect-conclusion__bush">
                    <img src="img/bush.png" alt="">
                </div>
                <div class="effect-conclusion__pills">
                    <img src="img/pills.png" alt="">
                </div>
            </div>
            <div class="effect-conclusion__right">
                <h4 class="effect-conclusion__title">Доказано:</h4>
                <div class="effect-conclusion__content">
                    <div class="canvas-wrap">
                        <canvas class="canvas-bg2"></canvas>
                    </div>
                    <p class="effect-conclusion__text">
                        <span class="dark font_medium">НПВС</span> не лечат ваши суставы, а&nbsp;только временно снимают воспаление.<br>
                        <span class="dark font_medium">Хондропротекторы прошлого поколения</span> не&nbsp;действуют.
                    </p>
                    <p class="effect-conclusion__text">
                        Это было доказано в 4-х летнем исследовании с участием <span class="dark font_medium">6540</span> испытуемых и&nbsp;<span class="dark font_medium">184</span> врачей.<br>
                        <span class="colortext_blue font_medium">20Flex+</span> – хондропротектор нового поколения. В нем исправлены ошибки старых<br>
                        хондропротекторов и присутствует противовоспалительное действие.
                    </p>
                    <p class="effect-conclusion__text">
                        <span class="dark font_medium">Благодаря этому</span><span class="colortext_blue font_medium">20Flex+</span> <span class="dark font_medium">максимально восстанавливает ваши суставы</span><br>
                        за 30 дней и&nbsp;<span class="dark font_medium">не допускает рецидива.</span>
                    </p>
                </div>
                <button type="submit" class="effect-btn btn ever-popup-btn">
                    <span class="btn__text btn__text-1">Заказать</span>
                    <span class="btn__text btn__text-2">со скидкой</span>
                </button>
            </div>
        </div>

    </div>
</section>