<section class="section effect-section">
    <div class="container">
        <h2 class="title effect-title"><span class="font_medium colortext_blue">20FLEX+</span> высокоэффективен даже при тяжелых спортивных травмах и болезнях суставов
            <span class="effect-title__smaller">поэтому он в разы превосходит хондропротекторы прошлого поколения и нестероидные противовоспалительные средства (НПВС)</span>
        </h2>
        <div class="effect-box">
            <!--<div class="canvas-wrap">-->
                <!--<canvas class="canvas-bg2"></canvas>-->
            <!--</div>-->
            <div class="effect">
                <div class="effect__fixed">
                    <div class="effect__fixed-item"></div>
                    <div class="effect__fixed-item">
                        <div class="canvas-wrap">
                            <canvas class="canvas-bg2"></canvas>
                        </div>
                        <p>Заявленное действие</p>
                    </div>
                    <div class="effect__fixed-item">Длительность лечения</div>
                    <div class="effect__fixed-item">
                        <div class="canvas-wrap">
                            <canvas class="canvas-bg2"></canvas>
                        </div>
                        Побочныеэффекты</div>
                    <div class="effect__fixed-item">Процент успешного лечения болезни</div>
                </div>
                <div class="effect__slider">
                    <div class="effect__slider-wrapper">
                        <div class="effect__block">
                            <div class="effect__block-item">Нестероидные противовоспалительные средства (НПВС)</div>
                            <div class="effect__block-item">Уменьшение воспаления и боли</div>
                            <div class="effect__block-item">Применяются годами</div>
                            <div class="effect__block-item">
                                - почечная недостаточность
                                - гипертония, сердце
                                - язва желудка
                            </div>
                            <div class="effect__block-item effect__block-conclusion">
                                <p class="text">Не являются средством, лечащим суставы</p>
                                <p class="profit">2,1<span>%</span></p>
                                <span class="icon"></span>
                            </div>
                        </div>
                        <div class="effect__block">
                            <div class="effect__block-item">Нестероидные противовоспалительные средства (НПВС)</div>
                            <div class="effect__block-item">Уменьшение воспаления и боли</div>
                            <div class="effect__block-item">Применяются годами</div>
                            <div class="effect__block-item">
                                - почечная недостаточность
                                - гипертония, сердце
                                - язва желудка
                            </div>
                            <div class="effect__block-item effect__block-conclusion">
                                <p class="text">Не являются средством, лечащим суставы</p>
                                <p class="profit">2,1%</p>
                                <span class="icon"></span>
                            </div>
                        </div>
                        <div class="effect__block effect__block-another">
                            <div class="effect__block-item">Нестероидные противовоспалительные средства (НПВС)</div>
                            <div class="effect__block-item">Уменьшение воспаления и боли</div>
                            <div class="effect__block-item">Применяются годами</div>
                            <div class="effect__block-item">
                                - почечная недостаточность
                                - гипертония, сердце
                                - язва желудка
                            </div>
                            <div class="effect__block-item effect__block-conclusion">
                                <p class="text">Не являются средством, лечащим суставы</p>
                                <p class="profit">2,1%</p>
                                <span class="icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>