<section class="section sec-9" id="gelpills">
  <div class="container">
    <h2 class="title sec-9__title">
      Вы можете использовать гель <span class="twenty-flex-accent">20FLEX</span
      ><br />
      для повышения эффективности таблеток
      <span class="twenty-flex">20FLEX+</span><br />
      на&nbsp;60-65%
    </h2>

    <div class="sec-9__wrap">
      <ul class="sec-9__right-list">
        <li class="sec-9__right-item">Снимает боль за 15 минут</li>
        <li class="sec-9__right-item">Гель в капсулах удобно носить с собой</li>
        <li class="sec-9__right-item">
          Снимает воспаление <br />и возвращает подвижность суставов
        </li>
      </ul>
      <div class="sec-9__images">
        <img src="img/sec9__bg-left.png" class="sec-9__bg-left" />
        <img src="img/sec9__bg.png" class="sec-9__bg-right" />
        <div class="sec-9__gel-box">
          <img src="img/sec9__gel-1.png" class="sec-9__gel-pack" />
          <img src="img/sec9__gel-2.png" class="sec-9__gel-pills" />
        </div>
        <div class="sec-9__pills-box">
          <img src="img/pack-pills.png" class="sec-9__pills-pack" />
          <img src="img/pills.png" class="sec-9__pills" />
        </div>
      </div>
      <ul class="sec-9__left-list">
        <li class="sec-9__left-item">
          Снимают отеки в 1-ю неделю использования
        </li>
        <li class="sec-9__left-item">
          Растительные таблетки без побочных действий
        </li>
        <li class="sec-9__left-item">
          Восстанавливают все суставы в организме
        </li>
      </ul>
    </div>
    <div class="sec-9__sub-title">
      Лечебная гимнастика помогает облегчить восстановление суставов.
    </div>
    <p class="sec-9__text">
      Оставьте свой почтовый адрес, чтобы получить информацию о самых полезных
      упражнениях.
    </p>

    <form class="sec-9__form">
      <input type="email" class="sec-9__input" placeholder="Мой e-mail" />

      <button type="submit" class="btn">
        <span class="btn__text btn__text-1">Получить</span>
        <span class="btn__text btn__text-2">упражнения</span>
      </button>
    </form>

    <div class="arrow-section arrow--white">
      <a href="#gelpills">
        <svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"></path>
				</g>
			</g>
		</g>
		</svg>
      </a>

      <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
		<g>
			<g transform="translate(-1096 -372)">
				<g>
					<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"></path>
				</g>
			</g>
		</g>
		</svg>
    </div>
  </div>
</section>
