<section class="section sec-11" id="certificate">
  <div class="container">
    <h2 class="title">
      Результаты исследования <span class="twenty-flex">20FLEX+</span> в&nbsp;2016
      году
    </h2>
    <p class="sec-11__subtitle">
      проведенного среди 4684 человек от 16 до 78 лет при поддержке клиник
      <span class="main-black">Европы</span>,
      <span class="main-black">Израиля</span> и
      <span class="main-black">США</span>
    </p>

    <div class="sec-11__wrap">
      <div class="sec-11__item sec-11__item--first">
        <div class="sec-11__number-block">
          <span class="sec-11__number">78</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          отметили, что
          <span class="sec-7__bold">
            боль в суставах<br />
            пропала полностью</span
          ><br />
          через 14&nbsp;дней использования
        </p>
      </div>
      <div class="sec-11__item sec-11__item--second">
        <div class="sec-11__number-block">
          <span class="sec-11__number">86,4</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          <span class="sec-7__bold"
            >заметили улучшение<br />
            подвижности</span
          >
          суставов<br />
          и&nbsp;устранение боли
        </p>
      </div>
      <div class="sec-11__item sec-11__item--third">
        <div class="sec-11__number-block">
          <span class="sec-11__number">91</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          отметили,<br />
          что <span class="sec-7__bold">болезнь не возвращается</span><br />
          в течение <span class="nowrap">2-х&nbsp;лет</span>
        </p>
      </div>
    </div>

    <div class="sec-11__certificate">
      <img src="img/cer1.jpg" alt="" class="sec-11__image" />

      <img
        src="img/cer2.jpg"
        alt=""
        class="sec-11__image sec-11__image--center"
      />

      <img src="img/cer3.jpg" alt="" class="sec-11__image" />
    </div>
    <p class="sec-11__certificate-about">
      Препарат прошел клиническую проверку<br />
      в Европе, Израиле и США
    </p>
  </div>
  <div class="arrow-section arrow--white">
    <a href="#certificate">
      <svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"></path>
				</g>
			</g>
		</g>
		</svg>
    </a>

    <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
		<g>
			<g transform="translate(-1096 -372)">
				<g>
					<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"></path>
				</g>
			</g>
		</g>
		</svg>
  </div>
</section>
