<section class="section sec-11">
  <div class="container">
    <h2 class="title">
      Результаты исследования <span class="twenty-flex">20FLEX+</span> в 2016
      году
    </h2>
    <p class=" subtitle-components sec-11__subtitle">
      проведенного среди 4684 человек от 16 до 78 лет при поддержке клиник
      <span class="main-black">Европы</span>,
      <span class="main-black">Израиля</span> и
      <span class="main-black">США</span>
    </p>

    <div class="sec-11__wrap">
      <div class="sec-11__item sec-11__item--first">
        <div class="sec-11__number-block">
          <span class="sec-11__number">78</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          отметили, что
          <span class="sec-7__bold">
            боль в суставах<br />
            пропала полностью</span
          ><br />
          через 14 дней использования
        </p>
      </div>
      <div class="sec-11__item sec-11__item--second">
        <div class="sec-11__number-block">
          <span class="sec-11__number">86,4</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          <span class="sec-7__bold"
            >заметили улучшение<br />
            подвижности</span
          >
          суставов<br />
          и устранение боли
        </p>
      </div>
      <div class="sec-11__item sec-11__item--third">
        <div class="sec-11__number-block">
          <span class="sec-11__number">91</span>
          <span class="sec-11__percent">%</span>
        </div>
        <p class="sec-11__about">
          отметили,<br />
          что <span class="sec-7__bold">болезнь не возвращается</span><br />
          в течение 2-х лет
        </p>
      </div>
    </div>

    <div class="sec-11__certificate">
      <img src="img/cer1.jpg" alt="" class="sec-11__image" />

      <img
        src="img/cer2.jpg"
        alt=""
        class="sec-11__image sec-11__image--center"
      />

      <img src="img/cer3.jpg" alt="" class="sec-11__image" />
    </div>
    <p class="sec-11__certificate-about">
      Препарат прошел клиническую проверку<br />
      в Европе, Израиле и США
    </p>
  </div>
</section>
