<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-wrap__item footer-wrap__left">
                <img class="footer-logo" src="img/everad.png" alt="">
                <div class="box">
                    <span class="another">20Flex</span>
                    <span class="block">Copyright <span class="date-0" data-format="yyyy">2000</span></span>
                </div>
            </div>
            <div class="footer-wrap__item footer-wrap__center">
                <a class="block privacy-link" href="privacy.html" target="_blank">Политика конфиденциальности</a>
                <span>г. Москва, ул. Чоботовская, д.17</span>
            </div>
            <div class="footer-wrap__item footer-wrap__right">
                <span>ИНН 7707251637</span>
                <span class="block">ОГРН&nbsp;1157735921758</span>
            </div>
        </div>
    </div>
</footer>