<div class="sec-12__slider js-sec-12-slider">
  <div class="sec-12__slide">
    <div class="sec-12__slide-head">
      <img src="img/sec12_6.jpg" class="sec-12__slide-image" />
      <div class="sec-12__review-info">
        <span class="sec-12__review-name">Олег Павичев,</span>
        <span class="sec-12__review-age">55 лет</span>
      </div>
    </div>
    <p class="sec-12__result twenty-flex-accent">Прошлел курс геля 20Флекс</p>
    <div class="sec-12__result-title">Колени не болят и хорошо сгибаются</div>
    <div class="sec-12__text">
      Я свои колени чем только ни лечил! Я делал даже ударно-волновые процедуры,
      а они же такие дорогие и такие болезненные! Так после них ну месяца на два
      стало лучше, до первого похода из магазина с тяжелыми пакетами. А потом я
      гелем в капсулках начал колени мазать, так уже через 2 недели стало лучше,
      чем после 10 тех болезненных процедур, и я могу нормально ходить.
    </div>
  </div>
</div>
