.sec-13 {
  background-color: #dff5fa;
  background-image: url(../img/sec13__bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.sec-13__title {
  margin-bottom: 85px;
  max-width: 950px;
}

.bold-accent {
  font-size: 24px;
  font-weight: bold;
  color: #4699b9;
}
.sec-13__item-title {
  font-size: 21px;
  color: #2b3541;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.sec-13__item {
  text-align: center;
  width: 30%;
}

.sec-13__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 50px;
}

.sec-13__image-box {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
}
.sec-13__image-box::after {
  position: absolute;
  content: "";
  height: 170px;
  width: 1px;
  background-color: #b7d5df;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.sec-13__item:nth-child(3n) .sec-13__image-box::after {
  display: none;
}

.sec-13__pills {
  width: 145px;
  position: absolute;
  bottom: 5px;
  left: 70px;
}

.sec-13__list-title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #2b3541;
  margin-bottom: 15px;
}

.sec-13__list-item {
  font-size: 20px;
  line-height: 1.4;
  color: #656d76;
}

.sec-13__count {
  font-size: 20px;
  font-weight: bold;
  color: #4699b9;
}

.sec-13__list {
  max-width: 650px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .sec-13__pills {
    bottom: 10px;
    left: 40px;
  }
}
@media (max-width: 1023px) {
  .sec-13__title {
    margin-bottom: 60px;
  }
  .sec-13__image-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .sec-13__item {
    width: 33.33%;
  }
  .sec-13__image-box::after {
    display: none;
  }
  .sec-13__list-title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .sec-13__image {
    height: 200px;
  }
  .sec-13__image-box {
    height: 230px;
  }
  .sec-13__item-title {
    font-size: 19px;
  }
  .sec-13__title {
    margin-bottom: 40px;
  }
  .sec-13__list-item {
    font-size: 19px;
  }
  .sec-13__list-title {
    font-size: 23px;
  }
}

@media (max-width: 639px) {
  .sec-13__title {
    margin-bottom: 30px;
  }
  .sec-13__wrap {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .sec-13__item {
    width: 50%;
  }
  .sec-13__image-box {
    margin-bottom: 15px;
  }
  .sec-13__item:nth-child(3n) {
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .sec-13__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .sec-13__item:nth-child(3n) {
    margin-top: 0px;
  }
  .sec-13__item-title {
    font-size: 18px;
  }
  .sec-13__list-title {
    font-size: 21px;
  }
  .sec-13__list-item {
    font-size: 17px;
  }
  .sec-13__list {
    max-width: 260px;
  }
}
