doctype html
html
  head
    meta(charset="utf-8")
    title Купить 20Flex недорого. Цены, отзывы. Закажите 20Flex сейчас!
    meta(content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" subset=cyrillic" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/foundation.css')
body

    include ../common/a__home.html
    include ../common/b__example.html
    include ../common/c__review.html
    include ../common/d__reasons.html
    include ../common/e__benefits.html
    include ../common/f__components.html
    include ../common/g__doctor.html
    include ../common/h__course.html
    include ../common/i__gelpills.html
    include ../common/j__effect.html
    include ../common/k__certificate.html
    include ../common/l__new-slider.html
    include ../common/m__using.html
    include ../common/n__delivery.html
    include ../common/last-section.html
    include ../common/o__footer.html
    include ../common/popup.html


    script(src='./js/foundation.js')
    script(src='./js/app.js')
    script(src='./js/postDate.js')
    script(src='./js/everad.js')

